<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container-fluid">
			<h2>Ubah Pegawai</h2>
			<form th:action="@{/pegawai/ubah}" th:object=${pegawai} method="POST">
				<input type="hidden" name = "id" th:value="${pegawai.id}">
				<input type="hidden" name = "nip" th:value="${pegawai.nip}">
				<table cellpadding="20">
					<tr>
						<td>Nama</td>
						<td><input type="text" name="nama" th:value="${pegawai.nama}" class="form-control"/></td>
					</tr>
					<tr>
						<td>Tempat Lahir</td>
						<td><input type="text" name="tempatLahir" th:value="${pegawai.tempatLahir}" class="form-control"/></td>
					</tr>
					<tr>
						<td>Tanggal Lahir</td>
						<td><input type="Date" name="tanggalLahir" th:value="${pegawai.tanggalLahir}" class="form-control"/></td>
					</tr>
					<tr>
						<td>Tahun Masuk</td>
						<td><input type="number" name="tahunMasuk" th:value="${pegawai.tahunMasuk}" class="form-control"/></td>
					</tr>
					<tr>
		                <td>Provinsi</td>
		                <td>
		                    <select  class="form-control" required="required" name="provinsi" id="provinsi">
						      <option disabled="disabled" selected="selected"> -- Pilih Provinsi -- </option>
						      <option th:each="provinsi : ${daftarProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" th:selected="${provinsi.id==pegawai.instansi.provinsi.id}"></option>
						    </select>
		                </td>
		            </tr>
		            <tr>
		                <td>Nama Instansi</td>
		                <td>
		                    <select  class="form-control" required="required" name="instansi" id="instansi" th:value="*{instansi}">
						   		<option disabled="disabled" selected="selected"> -- Pilih Instansi --</option>
						      	<option th:each="instansi : ${daftarInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" th:selected="${instansi.id==pegawai.instansi.id}"></option>
						    </select>
		                </td>
		            </tr>
		            <tr>
		            	<td>Jabatan</td>
		            	<td>
		            		<div class="form-group" th:each="jabatanP, rowStat : *{listJabatan}">
								<select class="form-control" th:field="*{listJabatan[__${rowStat.index}__].jabatan}">
									<option th:each="jabatan : ${daftarJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}" ></option>
								</select>
							</div>
		            	</td>
		            </tr>
		            <tr>
			            <td></td>
			            <td><button type="submit" name="addJabatan">Tambah Jabatan</button></td>
		            </tr>
		            <tr>
		                <td><button type="submit" class="btn btn-primary">Ubah</button><td>
		            </tr>
				</table>
			</form>
		</div>
	</body>
	<script type="text/javascript">
	$(document).ready(function () {
	    $("#provinsi").change(function () {
	 
	            $.getJSON("/instansi", {
	                provinsiId : $(this).val(),
	                ajax : 'true'
	            }, function(data) {
	                var html = '';
	                var len = data.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + data[i].id + '">'
	                            + data[i].nama + '</option>';
	                }
	                html += '';
	                console.log("berhasil");
	                $('#instansi').html(html);
	            });
	    });    
	        
	});
	</script>
</html>