<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>View Pegawai Termuda Tertua</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<br>
<br>
<h2>Data Pegawai Termuda dan Tertua</h2>
<br><hr><br>
<div class=row>
	<div class=column>
		<div class="col-md-20">
			<div class="card">
				<div class="card-header">
					Data Pegawai Termuda
				</div>
				<div class="card-body">
					<table cellpadding="10">
					<tr>
						<td>NIP</td>
						<td th:text="${pegawaiMuda.nip}"></td>
					</tr>
					<tr>
						<td>Nama</td>
						<td th:text="${pegawaiMuda.nama}"></td>
					</tr>
					<tr>
						<td>Tempat Lahir</td>
						<td th:text="${pegawaiMuda.tempatLahir}"></td>
					</tr>
					<tr>
						<td>Tanggal Lahir</td>
						<td th:text="${pegawaiMuda.tanggalLahir}"></td>
					</tr>
					<tr>
						<td>Tahun Masuk</td>
						<td th:text="${pegawaiMuda.tahunMasuk}"></td>
					</tr>
					<tr>
						<td>Nama Instansi</td>
						<td th:text="${pegawaiMuda.instansi.nama} + ' - ' + ${pegawaiMuda.instansi.provinsi.nama}"></td>
					</tr>
					<tr>
						<td>Jabatan</td>	
						<td>
							<th:block th:each="jabatans : ${jabatanMuda}">
							<p th:text="${jabatans.jabatan.nama}"></p>		
						</td>
					</tr>	
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class=column>
		<div class="col-md-20">
			<div class="card">
				<div class="card-header">
					Data Pegawai Tertua
				</div>
				<div class="card-body">
					<table cellpadding="10">
					<tr>
						<td>NIP</td>
						<td th:text="${pegawaiTua.nip}"></td>
					</tr>
					<tr>
						<td>Nama</td>
						<td th:text="${pegawaiTua.nama}"></td>
					</tr>
					<tr>
						<td>Tempat Lahir</td>
						<td th:text="${pegawaiTua.tempatLahir}"></td>
					</tr>
					<tr>
						<td>Tanggal Lahir</td>
						<td th:text="${pegawaiTua.tanggalLahir}"></td>
					</tr>
					<tr>
						<td>Tahun Masuk</td>
						<td th:text="${pegawaiTua.tahunMasuk}"></td>
					</tr>
					<tr>
						<td>Nama Instansi</td>
						<td th:text="${pegawaiTua.instansi.nama} + ' - ' + ${pegawaiTua.instansi.provinsi.nama}"></td>
					</tr>
					<tr>
						<td>Jabatan</td>	
						<td>
							<th:block th:each="jabatans : ${jabatanTua}">
							<p th:text="${jabatans.jabatan.nama}"></p>		
						</td>
					</tr>	
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>