<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>View Jabatan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<br>
<h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
<br><hr><br>
<div class="container-fluid" align="center">
		<div class ="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header" align="center">
						<h3>Detail Jabatan</h3>
					</div>
<table  cellpadding ="10" align="center">
    <tr>
        <td>Nama</td>
        <td th:text="${jabatan.nama}"></td>
    </tr>
    <tr>
        <td>Deskripsi</td>
        <td th:text="${jabatan.deskripsi}"></td>
    </tr>
    <tr>
        <td>Gaji Pokok</td>
        <td th:text="${jabatan.gaji_pokok}"></td>
    </tr>
    <tr>
        <td>Jumlah Pegawai</td>
        <td th:text="${count}"></td>
    </tr>
    <tr>
    	<td>
    		<form th:action="@{/jabatan/ubah}" method="GET">
				<input type=hidden name="idJabatan" th:value="${jabatan.id}" />
				<button value="submit" class="btn  btn-primary">Ubah</button>
			</form>
    	</td>
    	<td>
    		<form th:action="@{/jabatan/hapus}" method="POST">
				<input type=hidden name="idJabatan" th:value="${jabatan.id}" />
				<button value="submit" class="btn btn-primary">Hapus</button>
			</form>
    	</td>
    </tr>
</table>
</div>
</div>
</div>
</div>
<br>
</body>
</html>